
@mainColor: rgba(1, 1, 61, 0.97);
//there will be our less

body{
  background-color: gainsboro;
}

body,html{
  height: 90%;
  width: 100%;
}

.container{
  background-color: red;
  height: 100em;
  float: left;
}

.slider{
  background-color: green;
  width: 40%;
  height: 20em;
}

.info{
  background-color: orange;
}

.video-page {
  background-color: aqua;
  height: 100em;
}