
@mainColor: rgba(1, 1, 61, 0.97);
//there will be our less

body{
  background-color: gainsboro;
}

body,html{
  height: 90%;
  width: 100%;
}

.container{
  background-color: red;
  width: 80em;
  height: 100em;
  float: left;
  margin-left: 5em;
}

.slider{
  background-color: green;
}

.info{
  background-color: orange;
}

.video-page {
  background-color: aqua;
}