
@mainColor: rgba(0, 2, 61, 0.97);
@myWhite: #eef1f8;
//there will be our less

body{
  background-color: #74708b;
  overflow-x: hidden;
  min-width: 650px;
}

body,html{
  height: 90%;
  width: 100%;
  min-width: 650px;
}

.container{
  height: 100em;
  padding-top: 7em;
  width: 100%;
  padding-right: 16em;
  float:left;
  padding-left: 0;
}

.slider{
  width: 100%;
  height: auto;
  margin-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  //background-color: @mainColor;
}

.slider-img{
  display: inline-block;
  width: 1050px;
  max-height: 500px !important;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.info_cont{
  width: 100%;
  display:table;
}

.info-food-main-text{
  padding-top: 1em;
}

.info-food-img{
  height: 100%;
  width: 100%;
  padding: 3em;
}

.video-container {
  margin-top: 5em;
  position: fixed;
  padding-right: 0 !important;
  right: 0;
}

.shadow{
  box-shadow: -1px 6px 10px 2px #575657;
}

.video-page{
  background-color: @myWhite;
  height: 47.5em;
  margin-top: 1em;
  width: 16em;
  padding-left: 10px;
  padding-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.head-menu{
 // padding-top: 1em;
  height: 5em;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: @myWhite;
  min-width: 650px;
}

.buttons{
  float: right;
  padding-right: 1em;
  padding-top: 0.5em;
}

.box-menu{
  border-bottom-style: double;
  border-bottom-color: #484748;
}

.go-to{
  color: black;
  cursor: pointer;
  letter-spacing: .01em;
  font-size: 19px;
  text-shadow: 2px -2px #212022, 0px -1px #212022, 1px -2px #212022, 1px -1px #212022, 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.go-to:hover{
  text-decoration: underline;
  color: @myWhite;
}

.go-to-menu{
  cursor: pointer;
}

.small-logo{
  width: auto;
  height: inherit;
  margin-left: 2em;
}

.info{
  height: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 48%;
  display: table-cell;
}

.info-food-caption{
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-top: 0.5em;
  color: @mainColor;
  transform: scale(0.4);
  margin-top: -3.7em;
}

.info-one-item{
  padding: 1em;
  width: 100%;
  height: auto;
  border: double;
  border-color: #828182;
  background-color: #f5f8f7;
  margin-top: 3em;
}

@media	(max-width:	800px)	{

  .info{
    width: 100%;
    display: inline-block;
  }

  .info_cont{
    display: inline-block;
  }

}

.menu-container{
  width: 100%;
  height: auto;
  padding: 2em;
  display: flex;
}

.menu-panel{
  width: 70%;
  display: table;
}

.food-panel{
  width: 25%;
  float: right;
  margin-left: 4em;
}